 .bg-color {
     color: white;
    background-color:	#198754;
    border-top: 1px solid;
  }
.text-col{
  color: white;
}
  .bg-color-box a {
    display: flex;
    align-items: baseline;

  }
  .box-gap{
    padding: 0.2rem 0rem 0.2rem 0rem!important;
  }

  .navbar-color {
    /* background-color: 	#e9b01c; */
     color:	white;
     background-color: #198754;
     border-top: 1px solid #198754;
     box-shadow: 0 5px 10px rgba(182, 182, 182, 0.75);
  }

  .nav-pills .nav-link {
    padding: 15px 20px !important;
  }

  .nav-pills .nav-link {
    border: 0;
    border-radius: 0.25rem;
  }

  .align-items-sm-start {
    align-items: flex-start !important;
  }

  li > a.active{
    background-color:white;
    color:#198754;
  }
  li i {
    padding-right: 5px;
  }
  @media only screen and (min-width: 300px) and (max-width: 600px) {
    .text-col{
      font-size: 15px;
    }
  }
    