
  .font-icoback{
    font-size: 50px;
    color: #198754;
  }
  
  .img-login{
    width: 200px;
    }
  .logoutico{
    font-size: 30px;
  }
  .box-center{
    display: flex;
    justify-content: center;
   
  }
  .submit-head{
    border-radius: 25px;
    font-weight: 600;
    width: 350px;
    border: 15px solid green;
    padding: 30px;
    margin: 20px;
  }
  .btn-outline-success{
    border-color: #198754;
  }
  .elehead{
    font-weight: 600;
  }
  @media screen and (min-width: 250px) and (max-width: 600px) {
   
  .buttonfloat{
    float: right;
  }
  }
  @media screen and (min-width: 600px) and (max-width: 1024px) {
    .buttonfloat{
      float: right;
    }
  }