<nav class="navbar navbar-expand-lg navclass">
  <div class="container-fluid">
    <P class="navbar-brand brand-border"></P>
    <!-- <a class="navbar-brand brand-border" routerLink="/employee">
      <i class="ri-arrow-left-fill font-icoback"></i>
    </a> -->
    <div class="d-flex buttonfloat">
      <button routerLink="/home" class="btn btn-outline-success" type="submit"><i class="ri-logout-circle-r-line logoutico"></i><br>Logout</button>
    </div>
  </div>
</nav> 
<div class="submitform">
  <div class="container-fluid">
   <div class="row">
    <div class="col-md-12 text-center">
      <img draggable="false" class="img-fluid img-login" src="../../../assets/eleootalogo.png" alt="ele-oota-logo" />
      <h3 class="py-2"> Hello {{employeeDetails.empName}}!  </h3>
      <!-- <h5>Upcoming Week</h5> -->
       <div class="col-md-12 box-center">
        <h2 class="submit-head">Your Request Was Submitted Successfully!</h2></div>
    </div>
   </div>
  </div>
</div>


